<div class="portfolio-item {% for item in project.categories %} {{item}} {% endfor %}">
  <div class="grid">
        <div class="col-3_md-12" style="padding-right: 1rem;">
          <a href="{{project.url}}">
            <!-- <h3> No. {{project.number}} </h3> -->
            <h4 class="uppercase"> {{project.title}} </h4>
            <p> {{project.description | truncatewords:30 }}</p>
          </a>
          {% for category in project.categories %}
          <span class="tag"> {{category | downcase}}</span> {% endfor %}
        </div>
        {% if project.portfolio-style == 'vertical' %}

        <a href="{{project.url}}" class="grid col-9_md-12 no-padding">
          <div class="col-4 no-padding">
            <div class="vert-image bg-image lazy" style="background-image:url('{{project.featured_image}}');"></div>
          </div>
          <div class="col-4 no-padding">
            <div class="vert-image bg-image lazy" style="background-image:url('{{project.image2_path}}');"></div>
          </div>
          <div class="col-4 no-padding">
            <div class="vert-image bg-image lazy" style="background-image:url('{{project.image3_path}}');"></div>
          </div>
        </a>

        {% else %}

        <a href="{{project.url}}" class="grid col-9_md-12 no-padding">
          <div class="col-8 no-padding">
            <div class="big-image bg-image lazy" style="background-image:url('{{project.featured_image}}');"></div>
          </div>
          <div class="col-4 no-padding">
            <div class="sm-image bg-image lazy" style="background-image:url('{{project.image2_path}}');"></div>
            <div class="sm-image bg-image lazy" style="background-image:url('{{project.image3_path}}');"></div>
          </div>
        </a>

        {% endif %}
  </div>
</div>
