<section class="banner {{include.block.banner-height}} grid
        {% if include.block.fixed-banner == true %} fixed {% endif %}
        banner-image-desktop-{{forloop.index}} banner-image-mobile-{{forloop.index}}">

  <a href="cloudcannon:#page_blocks[{{ forloop.index0 }}]" class="editor-link" data-cms-editor-link-style="modal"> Edit section </a>

  {% unless include.block.banner-overlay == 'none' %}
  <div class="overlay {{include.block.banner-overlay}}"> </div>
  {% endunless %}

  <div class="banner-inner col-12-{{include.block.banner-text-position}} padded {{include.block.banner-text-color}}-text {{include.block.banner-text-alignment}}">
    <h2 class="{{include.block.banner-text-alignment}}"> <span class="{{include.block.banner-text-highlight}}-highlighted"> {{include.block.banner-heading}} </span> </h2>
    {% unless include.block.button_url == nil %}
    <a class="button {{include.block.button-style}}" href="{{include.block.button_url}}"> {{include.block.button-text}}</a>
    {% endunless %}
  </div>

</section>


<style>
  .banner-image-desktop-{{forloop.index}} {
    background-image: url({{include.block.banner_image}});
  }

  {% unless include.block.mobile-banner_image == nil %}

  @media(max-width:767px) {
    .banner-image-mobile-{{forloop.index}} {
      background-image: url({{include.block.mobile-banner_image}});
    }
  }

  {% endunless %}
</style>
